# Python for Data Analysis

In [ ]:
#Import Python Libraries
import numpy as np
# import scipy as sp
import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

Library ที่สำคัญในงาน ด้านข้อมูล หรือด้าน Data Science
1. **Pandas** เป็น library ที่สำคัญมากๆ การที่เราจะจัดการข้อมูลใดๆนั้น เราจำเป็นที่จะต้อง import ข้อมูลนั้น และแสดงข้อมูลออก ซึ่งเราจะใช้คำสั่งจากเจ้าตัว Pandas นี่แหละ เจ้าตัว Pandas สามารถอ่านไฟล์ได้เกือบทั้งหมดไม่ว่าจะเป็นแบบ FWF,CSV, Excel,Zip,TSV แต่มันยังไม่หมดแค่นั้น Pandas ยังมีคำสั่งที่จะช่วยเตรียมข้อมูลให้สมบูรณ์ก่อนที่จะนำไปคำนวณอีกด้วย จึงเป็น Library ที่ใช้ในด้าน Data Science ได้นั้นเอง

2. **Numpy** คือ library ที่เกี่ยวกับฟังก์ชั่นทางคณิตศาสตร์และการคำนวณต่างๆ โดยจะเข้าไปจัดการข้อมูลที่เป็นตารางแบบ array

3. **Matplotlib** เป็น library พื้นฐานในการสร้างกราฟจาก array กรอกค่าแสดงความสัมพันธ์ของตัวแปร ซึ่งสามารถสร้างกราฟได้ทั้งในเเบบ 2 มิติ , 3 มิติ, กราฟเส้นตรง, พาราโบลา และกราฟอื่นๆได้อีกมากมาย แต่ทั้งนี้การที่มันจะทำงานได้ ต้องมีการใช้ควบคู่ไปกับ numpy(ตรงนี้สำคัญ)

4. **Seaborn** หากใครที่ต้องการพ็อตกราฟให้สวยขึ้นไปอีก ต้องไม่พลาด library seaborn ตัวนี้ ที่ถูกพัฒนาขึ้นมาจาก Matplolib อีกที

5. **Scikit-learn (sklearn)** เป็น library ที่สำคัญมากในการทำ Machine Learning ซึ่ง Scikit-learn มี code ที่สามารถจัดการข้อมูลได้หลากหลายมาก ไม่ว่าจะเป็นการทำ Clustering , Classification , regression ซึ่งในที่นี้เราจะให้คอมพิวเตอร์เรียนรู้แบบ linear regression เเละยังสามารถนำมาประยุกต์ใช้กับ Data Science ได้อีกด้วย
https://stackpython.medium.com/%E0%B8%AA%E0%B8%AD%E0%B8%99%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%95%E0%B8%B4%E0%B8%94%E0%B8%95%E0%B8%B1%E0%B9%89%E0%B8%87-jupyter-notebook-1850bf72d8b1

In [ ]:
#Read csv file
df = pd.read_csv("/content/Salaries.csv")
#df = pd.read_csv("E:/520215/Salaries.csv")

In [ ]:
#Display a few first records >> head([number or not])

# < your codes >

# Practice

In [ ]:
#Display first 10 records

# < your codes >

# display 2 column in dataframe >> dataframe[["col1","col2",..]]

# < your codes >

In [ ]:
#Display the last 5 records >> tail([number or not])
df.tail(5)
# < your codes >

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
#Identify the type of df object >> type(dataframe)
df[['rank','salary']].head()
# < your codes >

   rank  salary
0  Prof  186960
1  Prof   93000
2  Prof  110515
3  Prof  131205
4  Prof  104800

In [ ]:
#Check the type of a column "salary" >> method dtype


# < your codes >

In [ ]:
#List the types of all columns >> method dtypes
df.dtypes
# < your codes >

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
#List the column names >> method columns
df.columns
# < your codes >

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
#List the row labels and the column names >> method axes
df.axes
# < your codes >

[RangeIndex(start=0, stop=78, step=1),
 Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')]

In [ ]:
#Number of dimensions >> method ndim
df.ndim
# < your codes >

2

In [ ]:
#Total number of elements in the Data Frame >> method size

df.size
# < your codes >

468

In [ ]:
#Number of rows and columns >> method shape
df.shape
# < your codes > //r,c

(78, 6)

In [ ]:
#Output basic statistics for the numeric columns >> method describe()
df.describe()
# < your codes >

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
#Calculate mean for all numeric columns >> method mean()
df['salary'].mean()
# < your codes >

108023.78205128205

In [ ]:
# display first 4 records in sex column --1   >> dataframe.col.head(number)
df[['salary']].head(4)
# < your codes >

   salary
0  186960
1   93000
2  110515
3  131205

In [ ]:
# display first 4 records in sex column --2 >> dataframe['col'].head(number)
df[['salary']][4:11]
# < your codes >

    salary
4   104800
5   122400
6    81285
7   126300
8    94350
9    57800
10  128250

In [ ]:
# display range of records in columns >> dataframe[['col']][begin:end]

# < your codes >

หา ค่าเฉลี่ย (mean), ค่าเบี่ยงเบนมาตรฐาน (std),มากที่สุด (mix),น้อยที่สุด (min) ด้วย numpy

In [ ]:
# < your codes (mean) >
np.mean(df)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3430: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [ ]:
#Calculate the standard deviation (std() method) for all numeric columns
# <your code goes here>
np.std(df)

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3571: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

phd           12.418048
service       12.061698
salary     28111.706331
dtype: float64

In [ ]:
#Calculate average of the columns in the first 50 rows
np.mean(df.head(50))
#df.head(50).mean()
# < your codes >

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3430: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

phd            21.52
service        17.60
salary     113789.14
dtype: float64

---
### Data slicing and grouping

In [ ]:
#Extract a column by name (method 1)
#dataframe['col'].head()
df['salary'].head(5)
# < your codes >

0    186960
1     93000
2    110515
3    131205
4    104800
Name: salary, dtype: int64

In [ ]:
#Extract a column name (method 2)
# dataframe.col.head()
df.salary.head()
# < your codes >

0    186960
1     93000
2    110515
3    131205
4    104800
Name: salary, dtype: int64

In [ ]:
#Calculate the basic statistics for the salary column (used describe() method)
df['salary'].describe()
# < your codes >

count        78.000000
mean     108023.782051
std       28293.661022
min       57800.000000
25%       88612.500000
50%      104671.000000
75%      126774.750000
max      186960.000000
Name: salary, dtype: float64

In [ ]:
#Calculate how many values in the salary column (use count() method)
df['salary'].count() #78 c
# < your codes >

78

In [ ]:
#Calculate the average (use mean()) salary
df['salary'].mean()
# < your codes >

108023.78205128205

In [ ]:
# numpy method (use np.menn())
np.mean(df)
# < your codes >

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:3430: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

---

In [ ]:
#Group data using rank >> groupby('col',sort=[Ture or False])
df_rank = df.groupby('rank',sort=True
                    )# < your codes >
df_rank.head()  #แสดงผลข้อมูลที่ได้จากการแยกตาม rank

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
6   AssocProf          A   20       17    Male   81285
12   AsstProf          B    1        0    Male   88000
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
20   AsstProf          B    4        4    Male   92000
22   AsstProf          A    4        2    Male   73000
30  AssocProf          B    9        7    Male  107008
34  AssocProf          B   12        8    Male  119800
41  AssocProf          A   13        8  Female   74830
47  AssocProf          B   11       11  Female  103613

In [ ]:
#Group data using rank , sort is True
df_rank = df.groupby('sex',sort=True)
df_rank.head()
# < your codes >

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000

In [ ]:
#Calculate mean of all numeric columns for the grouped object
df_sex = df.groupby('sex',sort=True)
df_sex.mean()
# < your codes >

<ipython-input-31-347dc1316d74>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_sex.mean()

              phd    service         salary
sex
Female  16.512821  11.564103  101002.410256
Male    22.897436  18.538462  115045.153846

In [ ]:
#Group data using sex


# < your codes >

In [ ]:
#Calculate the mean salary for men and women. >> dataframe.groupby('col group')['col'].mean()
df_sex_salary = df.groupby('sex')['salary'].mean()
df_sex_salary
# < your codes >

sex
Female    101002.410256
Male      115045.153846
Name: salary, dtype: float64

In [ ]:
# ถ้าใช้วงเล็บก้ามปูที่ attribute salary ผลลัพธ์จะแสดงออกมาเป็น dataframe
# >>  dataframe.groupby('col group')[['col']].mean()

# < your codes >

In [ ]:
# Group using 2 variables - sex and rank:
# dataframe.groupby(['col group1','col group2'], sort=True)[['col']].mean()
df_2g = df.groupby(['sex','rank'], sort=True)[['salary']].mean()
df_2g
#sort low -> high
# < your codes >

                         salary
sex    rank
Female AssocProf   88512.800000
       AsstProf    78049.909091
       Prof       121967.611111
Male   AssocProf  102697.666667
       AsstProf    85918.000000
       Prof       124690.142857

---
*Exercise*

In [ ]:
# Group data by the discipline and find the average salary for each group
#df.columns
df_dis = df.groupby('discipline')['salary'].mean()
df_dis
# < your codes >

discipline
A     98331.111111
B    116331.785714
Name: salary, dtype: float64

---
### Filtering

In [ ]:
#Select observation with the value in the salary column > 120K
# dataframe[dataframe['col1'] condition]
df_sub = df[df['salary'] >120000]# < your codes >
df_sub.head()

    rank discipline  phd  service   sex  salary
0   Prof          B   56       49  Male  186960
3   Prof          A   40       31  Male  131205
5   Prof          A   20       20  Male  122400
7   Prof          A   18       18  Male  126300
10  Prof          B   39       33  Male  128250

In [ ]:
#Select data for female professors
# dataframe[ dataframe['col'] == 'valueKey']
df_sub = df[ df['sex'] == 'Female']
df_sub
# multiple conditions
# dataframe[ (dataframe['col1'] == 'valueKey1') and (dataframe['col2'] == 'valueKey2')]
df_multi = df[ (df['sex'] == 'Female') & (df['salary'] > 120000)]
df_multi

# < your codes >

    rank discipline  phd  service     sex  salary
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
58  Prof          B   36       26  Female  144651
72  Prof          B   24       15  Female  161101
75  Prof          B   17       17  Female  124312

---
*Excecise*

In [ ]:
# Using filtering, find the mean value of the salary for the discipline A
# ปัดทศนิยม round(number)
df_mean = df[df['discipline'] == 'A']['salary'].mean()
df_mean
round(df_mean)
# < your codes >

98331

In [ ]:
# Challange:
# Extract (filter) only observations with high salary ( > 100K)
# and find how many female and male professors in each group
chal = df[df['salary'] > 100000 & (df['rank'] == 'Proof')]
chal = chal.groupby('sex')[['salary']].mean()
chal

# < your codes >

               salary
sex
Female  101002.410256
Male    115045.153846

In [ ]:
#find the mean value of the salary of Woman    method 1
# dataframe( condition ).garoup('col')['col'].mean()

# < your codes >

In [ ]:
#find the mean value of the salary of Woman      method 2
#df1 = df[(df['C']=='True') or (df['D']=='True')]
#หรือจะใช้คำสั่ง np.mean(df[df['sex'] == 'Female']['salary'])
df[df['sex'] == 'Female']['salary'].mean()

# < your codes >

101002.41025641025

In [ ]:
#find the mean value of the salary of Women who has salary > 100000, use bitwise operator
df[(df['sex'] == 'Female') & (df['salary'] > 100000)]

# < your codes >

         rank discipline  phd  service     sex  salary
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
65       Prof          A   36       19  Female  117555
69       Prof          A   28        7  Female  116450
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

---
### More on slicing the dataset

In [ ]:
#Select column salary
# < your codes ># < your codes >

In [ ]:
#Check data type of the result
# < your codes >

In [ ]:
#Look at the first few elements of the output
# < your codes >

In [ ]:
#Select column salary and make the output to be a data frame
# < your codes >

In [ ]:
#Check the type
# < your codes >

In [ ]:
#Select a subset of rows (based on their position):
# Note 1: The location of the first row is 0
# Note 2: The last value in the range is not included
# < your codes >

In [ ]:
#If we want to select both rows and columns we can use method .loc
# datafrme.loc[begin:end,['col1', 'col2','col3']]

# < your codes >

In [ ]:
#Display first 15 records in df_sub

# < your codes >

In [ ]:
#Let's see what we get for our df_sub data frame
# Method .loc subset the data frame based on the labels:

# < your codes >

### Sorting the Data

In [ ]:
#Sort the data frame by yrs.service and create a new data frame

# dataframe.sort_values(by = 'col', ascending = False, inplace = True)

# ascending >>  if True น้อยไปมาก
# inplace >> If True, perform operation in-place.

df_sorted = # < your codes >
df_sorted.head()

SyntaxError: ignored

In [ ]:
#Sort the data frame by yrs.service and overwrite the original dataset

# < your codes >

# df.head()

In [ ]:
# Sort data frame by the salary (in descending order)
# and display the first few records of the output (head)

# < your codes >

In [ ]:
#Sort the data frame using 2 or more columns:
# dataframe.sort_values(by = ['col1','col2'] ,ascending = [True,False])
df_sorted = # < your codes >
df_sorted.head(10)