In [ ]:
#Import Python Libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Missing Values

In [ ]:
#flights = pd.read_csv("d:/flights.csv")
f = pd.read_csv("/content/flights.csv") #your code
f.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0

In [ ]:
# เลือกข้อมูลที่มี missing value (use isnull()) อย่างน้อย 1 ตัว (use .any(axis=1)) ในแต่ละแถว
# df[df.method()]
# (df[df.isnull().any(axis=1)])
f[f.isnull().any(axis=1)]
#your code

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
403,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EHAA,791,LGA,DFW,NaN,1389,NaN,NaN
404,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EVAA,1925,LGA,MIA,NaN,1096,NaN,NaN
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
858,2013,1,2,NaN,NaN,NaN,NaN,AA,NaN,133,JFK,LAX,NaN,2475,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159681,2013,9,28,1214.0,-11.0,1801.0,NaN,AA,N488AA,300,EWR,DFW,NaN,1372,12.0,14.0
159854,2013,9,28,NaN,NaN,NaN,NaN,AA,N320AA,1,JFK,LAX,NaN,2475,NaN,NaN
159855,2013,9,28,NaN,NaN,NaN,NaN,US,NaN,581,EWR,CLT,NaN,529,NaN,NaN
160185,2013,9,29,1734.0,23.0,2159.0,NaN,UA,N463UA,327,EWR,PDX,NaN,2434,17.0,34.0
160286,2013,9,29,NaN,NaN,NaN,NaN,UA,NaN,331,LGA,ORD,NaN,733,NaN,NaN

In [ ]:
# เลือก arr_delay ที่มีค่า missing value (.isnull())
flights1 = f['arr_delay'].isnull() #your code
flights1.head()

0    False
1    False
2    False
3    False
4    False
Name: arr_delay, dtype: bool

In [ ]:
# เลือกข้อมูลทั้งหมดที่ไม่มี missing value (use dropna())
flights2_nomissing = f.dropna()#your code
flights2_nomissing.shape

(157927, 16)

In [ ]:
f.shape

(160754, 16)

In [ ]:
# เปลี่ยนค่า missing values ของ dep_delay ด้วยค่าศูนย์ (use fillna(value))
nomiss = f[['dep_delay']].fillna(0) #your code
nomiss.isnull()


# ตรวจสอบว่า nomiss เป็น null หรือไม่ (use isnull()) จะให้ค่า True or False (any()) ถ้าเป็น null จะมีค่าเป็น true

#your code

        dep_delay
0           False
1           False
2           False
3           False
4           False
...           ...
160749      False
160750      False
160751      False
160752      False
160753      False

[160754 rows x 1 columns]

No charts were generated by quickchart
Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.
Warning: total number of rows (160754) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
# เปลี่ยนค่า missing values  (use fillna(value) )ของ dep_delay ด้วยค่าเฉลี่ยของ dep_delay
#หรือจะใช้คำสั่ง mean_dep_delay = np.mean(flights['dep_delay'])

mean_dep_delay = f['dep_delay'].mean()#your code

print("ค่าเฉลี่ยของ dep_delay",mean_dep_delay)

average_nomiss = f['dep_delay'].fillna(mean_dep_delay) #your code
average_nomiss

ค่าเฉลี่ยของ dep_delay 9.46377305609211

0          2.0
1          4.0
2          2.0
3         -6.0
4         -4.0
          ...
160749    -1.0
160750    21.0
160751     0.0
160752    -7.0
160753    80.0
Name: dep_delay, Length: 160754, dtype: float64

In [ ]:
average_nomiss

In [ ]:
# นับจำนวน missing values (use sum()) ที่อยู่ในแต่ละ dep_delay, arr_delay attribute
f[['dep_delay', 'arr_delay']].isnull().sum().sum()
# your code

5163

In [ ]:
#นับจำนวน missing value ของ dep_delay และ arr_delay ทั้งหมด
f[['dep_delay', 'arr_delay']].count()
# your code

dep_delay    158418
arr_delay    157927
dtype: int64

---
### Common Aggregation Functions:

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|count   | number of non-null observations
|sum   | sum of values
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|prod   | product of values
|std  | standard deviation
|var | unbiased variance

In [ ]:
# Find the number of non-missing values in each column
# นับจำนวนที่ไม่ใช่ missing value ของแต่ละ attribute

# your code

In [ ]:
# Find minimum value for all the columns in the dataset
f.min()
# your code

<ipython-input-21-a34d1afbcbaa>:2: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  f.min()

year         2013
month           1
day             1
dep_time      1.0
dep_delay   -33.0
arr_time      1.0
arr_delay   -75.0
carrier        AA
flight          1
origin        EWR
dest          ANC
air_time     21.0
distance       17
hour          0.0
minute        0.0
dtype: object

In [ ]:
#หาค่าเฉลี่ยของ (use .mean()) dep_delay แยกตามกลุ่ม carrier (use groupby())
f.groupby('carrier')['dep_delay'].mean()
# your code

carrier
AA     8.586016
AS     5.804775
DL     9.264505
UA    12.106073
US     3.782418
Name: dep_delay, dtype: float64

In [ ]:
#ใช้ agg() method เพื่อหา min, max, mean  ของ dep_delay,arr_delay
f.agg(['min', 'max', 'mean'])
# your code

<ipython-input-25-5527d5e27c10>:2: FutureWarning: ['carrier', 'tailnum', 'origin', 'dest'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  f.agg(['min', 'max', 'mean'])

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,origin,dest,air_time,distance,hour,minute
min,2013.0,1.000000,1.000000,1.000000,-33.000000,1.000000,-75.000000,AA,1.000000,EWR,ANC,21.000000,17.00000,0.000000,0.000000
max,2013.0,12.000000,31.000000,2400.000000,1014.000000,2400.000000,1007.000000,US,2599.000000,LGA,TPA,695.000000,4963.00000,24.000000,59.000000
mean,2013.0,6.547395,15.716567,1316.146006,9.463773,1517.471161,2.094537,NaN,1156.344987,NaN,NaN,180.685158,1282.44542,12.837582,32.387847

### Basic descriptive statistics

|Function|Description
|-------|--------
|min   | minimum
|max   | maximum
|mean  | arithmetic mean of values
|median | median
|mad | mean absolute deviation
|mode | mode
|std  | standard deviation
|var | unbiased variance
|sem | standard error of the mean
|skew| sample skewness
|kurt|kurtosis
|quantile| value at %

In [ ]:
# คำนวณหาค่าสถิติพื้นฐานของ dep_delay (use describe())
f.describe()
# your code

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,flight,air_time,distance,hour,minute
count,160754.0,160754.000000,160754.000000,158418.000000,158418.000000,158275.000000,157927.000000,160754.000000,157927.000000,160754.000000,158418.000000,158418.000000
mean,2013.0,6.547395,15.716567,1316.146006,9.463773,1517.471161,2.094537,1156.344987,180.685158,1282.445420,12.837582,32.387847
std,0.0,3.410001,8.762794,470.823715,36.545109,510.695413,41.479349,695.884283,97.507866,765.895383,4.725552,18.687423
min,2013.0,1.000000,1.000000,1.000000,-33.000000,1.000000,-75.000000,1.000000,21.000000,17.000000,0.000000,0.000000
25%,2013.0,4.000000,8.000000,855.000000,-5.000000,1112.000000,-19.000000,504.000000,111.000000,733.000000,8.000000,16.000000
50%,2013.0,7.000000,16.000000,1345.000000,-2.000000,1541.000000,-7.000000,1157.000000,153.000000,1076.000000,13.000000,32.000000
75%,2013.0,10.000000,23.000000,1725.000000,7.000000,1944.000000,9.000000,1715.000000,258.000000,1728.000000,17.000000,51.000000
max,2013.0,12.000000,31.000000,2400.000000,1014.000000,2400.000000,1007.000000,2599.000000,695.000000,4963.000000,24.000000,59.000000

In [ ]:
# Count the number of records for each different value in a vector
#เหมือน flights.groupby('carrier')['carrier'].count()  (use value_counts() )
f.groupby('carrier')['carrier'].count()
# your code

carrier
AA    32729
AS      714
DL    48110
UA    58665
US    20536
Name: carrier, dtype: int64

In [ ]:
# use count()